{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Ajouter un témoignage</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.note) }}
        <button type="submit">Soumettre</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

